.container{
    width: 100%;
    margin-bottom: 4%;
}

textarea{
    width: 100%;
    font-size: 15px;
    padding: 10px;
    background-color: yellow;
    border : none;
    resize : vertical;
}
h2{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

.count{

    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-right: 2%;
    
}