*{
    box-sizing: border-box;
}

.content{
    background: #3498db;
    padding: 1%;
    margin: auto;
    width: 100%;
}

.options{
    padding: 10px;
}

input[type="radio"],input[type="checkbox"]{
    margin: 10px;
}
label{
    padding: 10px;
}
.slds-dueling-list__column.slds-dueling-list__column_responsive {
    flex: none !important ;
}
button{
    width: 10%;
    padding: 10px;
    font-size: 15px;
    background: #2ecc71;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
}